caption {
  font-weight: 700;
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #e9e9e9;
}
table {
  font-size: $base-font-size;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  text-align: left;
  thead,
  tbody,
  tfoot {
    td,
    th {
      padding: 1rem;
      border-bottom: 1px solid #e9e9e9;
    }
  }
}