// Variables

// Global
$base-background-color:                         #fff !default;
$base-font-family:                              sans-serif !default;
$base-font-size:                                16px !default;
$base-line-height:                              22px !default;
$base-font-weight:                              400 !default;
$base-font-color:                               #343434 !default;
$base-link-color:                               #f30 !default;
$base-link-hover-color:                         #f30 !default;
$base-link-focus-color:                         #f30 !default;
$base-link-active-color:                        #121212 !default;

// Headings
$base-heading-font-family:                      sans-serif !default;
$base-h1-font-size:                             32px !default;
$base-h1-line-height:                           38px !default;
$base-h1-font-weight:                           700 !default;
$base-h1-color:                                 #121212 !default;
$base-h2-font-size:                             26px !default;
$base-h2-line-height:                           32px !default;
$base-h2-font-weight:                           700 !default;
$base-h2-color:                                 #121212 !default;
$base-h3-font-size:                             22px !default;
$base-h3-line-height:                           28px !default;
$base-h3-font-weight:                           700 !default;
$base-h3-color:                                 #121212 !default;
$base-h4-font-size:                             18px !default;
$base-h4-line-height:                           24px !default;
$base-h4-font-weight:                           700 !default;
$base-h4-color:                                 #121212 !default;
$base-h5-font-size:                             16px !default;
$base-h5-line-height:                           22px !default;
$base-h5-font-weight:                           700 !default;
$base-h5-color:                                 #121212 !default;
$base-h6-font-size:                             14px !default;
$base-h6-line-height:                           20px !default;
$base-h6-font-weight:                           700 !default;
$base-h6-color:                                 #121212 !default;

// Blockquotes
$base-blockquote-font-family:                   sans-serif !default;
$base-blockquote-font-size:                     18px !default;
$base-blockquote-line-height:                   24px !default;
$base-blockquote-font-weight:                   400 !default;
$base-blockquote-cite-font-weight:              700 !default;

// Code
$base-code-font-family:                         monospace, monospace !default;
$base-code-font-size:                           16px !default;
$base-code-line-height:                         22px !default;
$base-code-color:                               #000 !default;
$base-code-background-color:                    #f1f1f1 !default;
$base-code-border-color:                        #e9e9e9 !default;

// Tables
$base-table-border-color:                       #e9e9e9 !default;
$base-table-header-background-color:            #fff !default;
$base-table-secondary-background-color:         #f6f8fa !default;

// Forms
$base-input-height:                             36px !default;
$base-input-placeholder-color:                  #999 !default;
$base-input-border-size:                        1px !default;
$base-input-color:                              #121212 !default;
$base-input-background-color:                   #fff !default;
$base-input-background-focus-color:             #fff !default;
$base-input-border-radius:                      0px !default;
$base-input-border-color:                       #ccc !default;
$base-input-border-focus-color:                 #555 !default;
$base-select-box-height:                        36px !default;
$base-button-color:                             #121212 !default;
$base-button-background-color:                  #fff !default;
$base-button-border-radius:                     0px !default;
$base-button-border-size:                       1px !default;
$base-button-border-color:                      #ccc !default;
$base-button-border-focus-color:                #eee !default;
$base-button-background-focus-color:            #eee !default;

// Layout - Responsive Breakpoints
$breakpoint-m:  768px !default;
$breakpoint-l:  980px !default;
$breakpoint-xl: 1200px !default;

// Grid
$grid-gutter: 12px !default;