// Variables

// Global
$base-background-color:                         #fff !default;
$base-font-family:                              sans-serif !default;
$base-font-size:                                16px !default;
$base-line-height:                              22px !default;
$base-font-weight:                              400 !default;
$base-font-color:                               #121212 !default;
$base-link-color:                               #00e !default;
$base-link-hover-color:                         #00e !default;
$base-link-active-color:                        #121212 !default;
$base-link-visited-color:                       #551a8b !default;

// Headings
$base-heading-font-family:                      sans-serif !default;
$base-h1-font-size:                             32px !default;
$base-h1-line-height:                           38px !default;
$base-h1-font-weight:                           700 !default;
$base-h1-color:                                 #121212 !default;
$base-h2-font-size:                             26px !default;
$base-h2-line-height:                           32px !default;
$base-h2-font-weight:                           700 !default;
$base-h2-color:                                 #121212 !default;
$base-h3-font-size:                             22px !default;
$base-h3-line-height:                           28px !default;
$base-h3-font-weight:                           700 !default;
$base-h3-color:                                 #121212 !default;
$base-h4-font-size:                             18px !default;
$base-h4-line-height:                           24px !default;
$base-h4-font-weight:                           700 !default;
$base-h4-color:                                 #121212 !default;
$base-h5-font-size:                             16px !default;
$base-h5-line-height:                           22px !default;
$base-h5-font-weight:                           700 !default;
$base-h5-color:                                 #121212 !default;
$base-h6-font-size:                             14px !default;
$base-h6-line-height:                           20px !default;
$base-h6-font-weight:                           700 !default;
$base-h6-color:                                 #121212 !default;

// Blockquotes
$base-blockquote-font-family:                   sans-serif !default;
$base-blockquote-font-size:                     18px !default;
$base-blockquote-line-height:                   24px !default;
$base-blockquote-font-weight:                   400 !default;
$base-blockquote-cite-font-weight:              700 !default;

// Code
$base-code-font-family:                         monospace, monospace !default;
$base-code-font-size:                           16px !default;
$base-code-line-height:                         22px !default;
$base-code-color:                               #000 !default;
$base-code-background-color:                    transparent !default;
$base-code-border-color:                        #e7e7e7 !default;

// Layout - Responsive Breakpoints
$breakpoint-m:  768px !default;
$breakpoint-l:  980px !default;
$breakpoint-xl: 1200px !default;

// Grid
$grid-gutter: 12px !default;

$container-m: ($breakpoint-m - ($grid-gutter * 2)) !default;
$container-l: ($breakpoint-l - ($grid-gutter * 2)) !default;
$container-xl: ($breakpoint-xl - ($grid-gutter * 2)) !default;