@import "_mixins";

.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.flex { display: flex; }

@include breakpoint(m) {
  .block-m { display: block; }
  .inline-block-m { display: inline-block; }
  .inline-m { display: inline; }
  .flex-m { display: flex; }
}

@include breakpoint(l) {
  .block-l { display: block; }
  .inline-block-l { display: inline-block; }
  .inline-l { display: inline; }
  .flex-l { display: flex; }
}

@include breakpoint(xl) {
  .block-xl { display: block; }
  .inline-block-xl { display: inline-block; }
  .inline-xl { display: inline; }
  .flex-xl { display: flex; }
}