@import "_mixins";
@import "_variables";

// All Form Elements
fieldset {
  padding: 0;
  border: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

label { cursor: pointer; }

label,
button,
input,
optgroup,
select,
textarea {
  color: $base-input-color;
  font: inherit;
  margin: 0;
  border-radius: 0;
  transition: .3s all;
}

// Inputs
[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
[type="search"],
[type="url"] {
  height: $base-input-height;
  padding: 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  appearance: none;
  width: 100%;
  display: block;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Textarea
textarea {
  padding: 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  overflow: auto;
  width: 100%;
  display: block;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Select
select {
  text-transform: none;
  height: $base-input-height;
  padding: 0 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  width: 100%;
  display: block;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Buttons
button,
[type="submit"] {
  border-radius: $base-button-border-radius;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
  background: $base-button-background-color;
  border: $base-button-border-size solid $base-button-border-color;
  padding: 6px 24px;
  &:hover, &:focus {
    border-color: $base-button-border-focus-color;
    background: $base-button-background-focus-color;
  }
}

.disabled,
[disabled] {
  opacity: .4;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

// Placeholder
::placeholder { color: $base-input-placeholder-color; }