$base-heading-font-family: sans-serif !default;
$base-h1-font-size: 32px !default;
$base-h1-line-height: 38px !default;
$base-h2-font-size: 26px !default;
$base-h2-line-height: 32px !default;
$base-h3-font-size: 22px !default;
$base-h3-line-height: 28px !default;
$base-h4-font-size: 18px !default;
$base-h4-line-height: 24px !default;
$base-h5-font-size: 16px !default;
$base-h5-line-height: 22px !default;
$base-h6-font-size: 14px !default;
$base-h6-line-height: 20px !default;

h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font-family;
  margin: 0.67rem 0;
}
h1, .h1 {
  font-size: $base-h1-font-size;
  line-height: $base-h1-line-height;
}
h2, .h2 {
  font-size: $base-h2-font-size;
  line-height: $base-h2-line-height;
}
h3, .h3 {
  font-size: $base-h3-font-size;
  line-height: $base-h3-line-height;
}
h4, .h4 {
  font-size: $base-h4-font-size;
  line-height: $base-h4-line-height;
}
h5, .h5 {
  font-size: $base-h5-font-size;
  line-height: $base-h5-line-height;
}
h6, .h6 {
  font-size: $base-h6-font-size;
  line-height: $base-h6-line-height;
}
