h1, h2, h3, h4, h5, h6 {
  margin: 0.67rem 0;
}
h1, .h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}
h2, .h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}
h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}
h6, .h6 {
  font-size: 0.75rem;
  line-height: 1rem;
}