@import "_variables";

caption {
  font-weight: 700;
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid $base-table-border-color;
}
table {
  font-size: $base-font-size;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  text-align: left;
  border: 1px solid $base-table-border-color;
  thead,
  tbody,
  tfoot {
    td,
    th {
      padding: 1rem;
      border-bottom: 1px solid $base-table-border-color;
      border-right: 1px solid $base-table-border-color;
    }
  }
  thead th {
    background: $base-table-header-background-color;
    border-bottom: 1px solid $base-table-border-color;
    border-right: 1px solid $base-table-border-color;
  }
  tr:nth-child(2n) {
    background-color: $base-table-secondary-background-color;
  }
}