body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-weight: 400;
  background: #fff;
}

main, details { display: block; }

a { background-color: transparent; }

b, .b, strong, .strong { font-weight: 700; }

em, .em { font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

small, .small { font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }

img { border-style: none; }

template, [hidden] { display: none; }