// ==========================================================================
// Desktop Custom Styles
// ==========================================================================

.introduction-block-inner {
  .col-9;
  .no-float;
  .center-element;
}

.getting-started-inner {
  .col-9;
  .no-float;
  .center-element;
  padding-top: 20px;
  padding-bottom: 20px;
}


.footer {
  padding: 40px 0;
}
.footer-list {
  padding-top: 0;
}

// Docs
.content-inner {
  .container;
  .col-10;
  .no-float; 
}