// ==========================================================================
// Tablet Custom Styles
// ==========================================================================

.banner {
  .lead-block {
    .center-element;
    .col-9;
    .no-float;
  }
}
.introduction-block-inner {
  .col-10;
  .no-float;
  .center-element;
}
.features-block-inner {
  .text-center;
  .feature-item {
    .col-4;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    .no-border;
  }
}


.getting-started-inner {
  .col-12;
  .no-float;
  .center-element;
  .text-center;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  .text-center;
}
.footer-list {
  .list-inline;
  .text-center;
  padding-top: 10px;
  margin-top: 0;
  border-top: 0;
  li {
    &:before {
      content: "•";
      margin-left: 5px;
      margin-right: 7px;
    }
    &:first-child {
      &:before {
        .no-margin;
        content: "";
      }
    }
  }
}

// Docs
.content-inner {
  .container;
}

// Mixins Table
.mixins-table {
  thead {
    display: table-header-group;
  }
  tbody {
    td {
      display: table-cell;
    }
    .mobile-table-header {
      background: transparent;
      margin-top: 0;
    }
  }
  [data-title]:before {
    content: "";
    display: none;
  }
  .data-content {
    display: table-cell;
    overflow: none;
    padding-left: 0;
    code {
      background-color: transparent;
    }
  }
}