/* ==========================================================================

  Base Stylesheet - built with LESS - http://www.lesscss.org
  Theme URI: http://matthewhartman.github.com/base/
  Description: A base template for your next web project!
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.0 - Last Updated: 18th October, 2012

========================================================================== */

  @import "mixins.less"; // Import the base mixins

  // Global Defaults

  // Typography
  @fontBase:              arial, helvetica, clean, sans-serif;
  @fontCode:              Menlo, Monaco, Consolas, "Courier New", monospace;
  @serif:                 serif;
  @sansSerif:             sans-serif;

  @defaultFontSize:       14;
  @fontDefault:           @defaultFontSize / 16 * 100%; // works out your base font size in percent

  @12px:                  12 / @defaultFontSize * 1em;
  @13px:                  13 / @defaultFontSize * 1em;
  @14px:                  14 / @defaultFontSize * 1em;
  @16px:                  16 / @defaultFontSize * 1em;
  @18px:                  18 / @defaultFontSize * 1em;
  @20px:                  20 / @defaultFontSize * 1em;
  @22px:                  22 / @defaultFontSize * 1em;
  @26px:                  26 / @defaultFontSize * 1em;
  @28px:                  28 / @defaultFontSize * 1em;
  @36px:                  36 / @defaultFontSize * 1em;
  @40px:                  40 / @defaultFontSize * 1em;

  // Headings
  @headingFont:           "Raleway", "Times New Roman", sans-serif;
  @customFont:            "Lobster", "Times New Roman", sans-serif;

  @h1:                    @40px;
  @h2:                    @20px;
  @h3:                    @26px;
  @h4:                    @20px;

  // Colours

  @black:                 #000;
  @darkestGrey:           #111;
  @darkerGrey:            #333;
  @darkGrey:              #666;
  @grey:                  #999;
  @lightGrey:             #ddd;
  @lighterGrey:           #eee;
  @lightestGrey:          #f1f1f1;
  @white:                 #fff;

  @darkestBlue:           #0f1b26;
  @darkBlue:              #202f3c;
  @blue:                  #1c415e;
  @lightBlue:             #a9c2d7;
  @lighterBlue:           #cfe6f8;
  @lightestBlue:          #e7f2fb;

  @orange:                #f30;
  @midOrange:             #c34119;
  @lightOrange:           #ffc9b3;
  @lighterOrange:         #fddfd3;
  @lightestOrange:        #fff0ea;



/* ==========================================================================
/* --  Micro Clearfix, Resets and Common Classes
   ========================================================================== */

/* Micro Clearfix */
.clear:before, .clear:after { content: ""; display: table; } .clear:after { clear: both; } .clear { zoom: 1; }
.section:before, .section:after { content: ""; display: table; } .section:after { clear: both; } .section { zoom: 1; }

/* General Resets */
  /* Start font size at 100% */
html { font-size: 100%; }
  /* Make all form fonts consistent */
button, input, select, textarea { font-family: sans-serif; }
  /* Remove all default borders */
form, fieldset, a img { border: 0; }

/* Common Classes */
.left { float: left; }
.right { float: right; }
.nofloat { float: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
.visuallyvisible {
  clip: (auto);
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}

.strong {
  font-weight: bold;
}

.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
.center {
  margin-left: auto;
  margin-right: auto;
}

.nolist { list-style: none; }
.nopadding { padding: 0; }
.nomargin { margin: 0; }

.none,
.nodesktop {
  display: none;
}

/* ==========================================================================
/* 1.0 - Document Setup (body, links, headings, code, tables, forms etc)
   ========================================================================== */
/* Body */
body {
  font-family: @fontBase;
  background: @white;
  color: @darkestGrey;
  margin: 0;
  font-size: @fontDefault;
  line-height: 140%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Links */
a {
  color: @orange;
  text-decoration: underline;
}
a:visited {
  color: @orange;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: @darkerGrey;
}


/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
h1,
h2,
h3,
h4 {
  font-family: @headingFont;
  margin: 0;
  line-height: normal;
}
h1 {
  font-size: @h1;
  margin-bottom: 10px;
  font-weight: 500;
}
h2 {
  font-size: @h2;
  text-transform: uppercase;
  margin: 0;
}
h3 {
  font-size: @h3;
  font-weight: 400;
  color: @darkBlue;
  margin-bottom: 20px;
}
h4 {
  font-size: @h2;
  text-transform: uppercase;
  margin: 0;
}


/* 1.2 Paragraphs, block quotes, code, pre, etc
   ========================================================================== */
p {
  margin: 0 0 10px 0;
}

hr {
  border: 0;
  background: none;
  outline: 0;
  height: 1px;
  background-color: @lightGrey;
  margin: 2em 0;
}

/* 1.3 Lists
   ========================================================================== */
ul, ul ul {
  list-style: disc;
  margin: .5em;
  padding: 0 10px;
}

ul li {
  margin-top: 4px;
}

ol, ol ol {
  list-style: decimal;
  margin: .5em;
}


/* ==========================================================================
/* 2.0 - Grid Layout
   ========================================================================== */
/* Sections & Content Blocks */
.section { position: relative; }

.container {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container-full {
  min-width: 280px;
  max-width: 980px;
  margin: 0 auto;
}

.content-block {
  padding-top: 40px;
  padding-bottom: 40px;
}
.blue-bg {
  background-color: @lightestBlue;
  margin-top: 60px;
  margin-bottom: 60px;
}
.orange-bg {
  background-color: @lightestOrange;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 20px;
}


/* Fluid Grid */
.col {
  margin-left: 2%;
  float: left;
}
.col:first-child { margin-left: 0; }

/* Columns */
.one { width: 6.333%; }
.two { width: 14.667%; }
.three { width: 23.0%; }
.four { width: 31.333%; }
.five { width: 39.667%; }
.six { width: 48.0%; }
.seven { width: 56.333%; }
.eight { width: 64.667%; }
.nine { width: 73.0%; }
.ten { width: 81.333%; }
.eleven { width: 89.667%; }
.twelve { width: 100%; }


/* ==========================================================================
/* -- Custom Website Styles
   ========================================================================== */

.header {
  color: @white;
  background: url(images/header.png) @midOrange;
  line-height: normal;

  a {
    text-decoration: none;
  } // end a
}

.logo {
  font-family: @headingFont;
  font-size: @28px;
  color: @white;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 18px;
  cursor: pointer;

  &:visited {
    color: @white;
  } // end a visited

  &:hover {
    color: @lightestBlue;
  } // end a hover
  &:active {
    color: @lightestOrange;
  } // end a active
}

.header-top {
  height: 70px;
  background-color: @midOrange;
  border-bottom: 1px solid #b73c16;
}

.nav ul {
  .nolist();
  .nomargin();
  padding: 25px 0 0 0;

  li {
    float: left;
    margin: 0 0 0 5px;

    a {
      text-transform: uppercase;
      font-size: @12px;
      color: @lightestBlue;
      padding: 8px 24px;
      border: 1px solid @midOrange;

      &.highlight {
        border-color: @lighterOrange;
        color: @white;
      }

      &:hover {
        border-color: @lighterOrange;
        color: @white;
      }
      &:active {
        background-color: @lightOrange;
        border-color: @lightOrange;
        color: @darkBlue;
      } // end active
    } // end a
  } // end li
} // end ul

.banner {
  .aligncenter();
  padding-top: 60px;
  
  img {
    margin-top: 60px;
    .block();
  }

  p {
    font-family: @headingFont;
    font-size: @20px;
    font-weight: 100;
    margin: 1px 0;
  } // end p
} // end banner

.features {
  color: @white;
  background-color: @darkBlue;
  padding-top: 40px;
  padding-bottom: 40px;

  ul {
    .nolist();
  } // end ul
} // end features

.feature-heading {
  font-size: @14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  .block();
}

.icon {
  .font-icon('WebSymbolsRegular', websymbols-regular);
  font-family: "WebSymbolsRegular";
  font-size: @18px;
  padding-right: 10px;
}

/* Buttons */
.banner .buttons {
  padding-top: 40px;
  padding-bottom: 60px;
}
.buttons {
  padding-top: 24px;
}

.banner .button {
  padding: 20px 40px;
  .roundedcorners(5px);
  border: 0;
}

.buttons .button:first-child {
  margin-right: 10px;
}

.button {
  font-family: @headingFont;
  color: @blue;
  background-color: @lightestBlue;
  text-transform: uppercase;
  text-decoration: none;
  .aligncenter();
  font-weight: 500;
  padding: 14px 20px;
  border: 1px solid inherit;
  display: inline-block;
  zoom: 1;
  border: 1px solid @lightBlue;
  position: relative;
  cursor: pointer;
}
.button:visited {
  color: @blue;
}
.button:hover {
  background-color: @lighterBlue;
  color: @darkestGrey;
}
.button:active {
  background-color: @lightestBlue;
  color: @blue;
  top: 1px;
}

.orange-button {
  background-color: @lightestOrange;
  border: 1px solid @lightOrange;
}
.orange-button:hover {
  background-color: @lighterOrange;
}
.orange-button:active {
  background-color: @lightestOrange;
}

/* Devices */
.devices {
  max-width: 930px;
  height: 130px;
  margin: 0 auto;
}
.mobile,
.tablet,
.desktop {
  background: url(images/devices.png) no-repeat;
  height: 130px;
  .block();
  float: left;
}
.mobile {
  width: 157px;
  background-position: 0 0;
}
.tablet {
  width: 174px;
  background-position: -756px 0;
}
.desktop {
  width: 504px;
  background-position: -202px 0;
  margin-left: 47px;
  margin-right: 48px;
}

.heading {
  color: @darkBlue;
  border-bottom: 1px solid @darkBlue;
  position: relative;
  margin-top: 40px;
  margin-bottom: 30px;
  .block();
  .aligncenter();

  span {
    position: relative;
    .inline();
    background-color: @white;
    top: 12px;
    padding: 0 20px;
  }
}

.and {
  font-family: @customFont;
}

.bordered {
  border: 1px solid @darkestGrey;
}


/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 720px) and (max-width: 959px) {
html body {
  max-width: 959px;
  padding: 0;
  margin: 0;
}

.container { width: 700px; }

.devices {
  width: 504px;
}

.mobile,
.tablet,
.desktop {
  .nomargin();
  .nofloat();
}

.content-block {

  .col {
    .nofloat();
    width: 100%;
    .aligncenter();
    .nomargin();
  }

  ul {
    .nolist();
    .nomargin();
    .nopadding();
  }

  img {
    max-width: 100%;
    .center();
    margin-bottom: 20px;
  }
}

.orange-bg {
  .nomargin();
}
.blue-bg {
  .nomargin();
}
.content-block {
  padding: 30px 0;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer {
  .aligncenter();
}

.break {
  .block();
}

.notablet { display: none; }
.showtablet { display: none; }


} /* End Tablet Media Query */


/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 719px) {
html body {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  float: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  font-size: @40px;
  .nofloat();
  .nomargin();
  .aligncenter();
  padding: 12px 0;
}

.banner {
  padding-top: 20px;

  h1 {
    font-size: @28px;
  } // end h1

  p {
    font-size: @18px;
  }

  .buttons {
    padding-top: 20px;
    padding-bottom: 30px;
  } // end buttons

} // end banner

  .buttons {
    padding-top: 10px;
    padding-bottom: 0;

    .button:first-child {
      margin: 4px 0;
    } // end buttons
  } // end button

.features {
  padding-top: 0;
  padding-bottom: 20px;
  ul li {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid @white;

    &:first-child {
      border: 0;
    } // end li:first-child
  } // end li
} // end features

.button {
  .block();
  .nofloat();
  .nomargin();
}

.content-block {
  padding-top: 10px;
  padding-bottom: 10px;

  img {
  max-width: 100%;
  } // end img
}

.blue-bg, .orange-bg {
  margin: 20px 0;
  padding: 20px 0;
}

.feature {

}

.heading {
  margin-top: 20px;
}

.nomobile { display: none; }
.showmobile { display: block; }


} /* End Mobile Media Query */


/* ==========================================================================
/* -- Print Layout
   ========================================================================== */
@media print {
body {
  font-family: @serif; /* Serif is easier to read offscreen */ 
  margin: 0.5cm;
}


} /* End Print Media Query */