// Global Variables
$base-font-family: "Source Sans Pro";
$base-heading-font-family: "Source Sans Pro";
$base-font-size: 18px;
$base-line-height: 26px;
$base-font-weight: 500;
$base-font-color: #232323;

// Colours
$darkest-grey: #010101;
$dark-grey: #545454;
$yellow: #ffcc00;
$light-grey: #999;
$lighter-grey: #ccc;
$lightest-grey: #f9f9f9;
$white: #fff;