// Banner
.banner {
  background-color: $yellow;
  color: $black;
}
.banner-col-1 {
  @include breakpoint(m) {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 60%;
  }
  @include breakpoint(xl) {
    width: 50%;
  }
}
.logo {
  background: url(../img/base.svg) 0 0 no-repeat;
  width: 80px;
  height: 98px;
  display: block;
  margin: 0 auto;
  transition: all .4s;
  @include breakpoint(m) {
    width: 50px;
    float: left;
    background-size: 100%;
  }
  &:hover {
    transition: all .4s;
    opacity: 0.7;
  }
}
.menu {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
  @include breakpoint(l) {
    padding: 10px 0 0 0;
  }
  & > li {
    display: inline-block;
    margin: 0 8px;
    & > a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    & > a.active {
      text-decoration: underline;
    }
  }
}
.banner-heading {
  font-size: 36px;
  line-height: 40px;
  @include breakpoint(l) {
    font-size: 46px;
    line-height: 50px;
  }
}

.button-banner {
  color: $black;
  @include background-alpha ($white, 90%);
  border-color: transparent;
  padding: 15px 20px;
  display: block;
  @include breakpoint(m) {
    display: inline-block;
  }
  &:hover, &:focus {
    @include background-alpha ($white, 100%);
  }
  &.button-secondary {
    margin-top: 10px;
    @include background-alpha ($white, 50%);
    &:hover, &:focus {
      @include background-alpha ($white, 100%);
    }
  }
}

.device {
  width: 240px;
  height: 320px;
  @include background-alpha($white, 90%);
  border-radius: 20px 20px 0 0;
  padding: 30px 20px 0 20px;
  position: relative;
  @include breakpoint(l) {
    width: 320px;
    height: 350px;
  }
  @include breakpoint(xl) {
    width: 500px;
  }
}
.device-inner {
  background: url(../img/gymphy.png) 0 0 no-repeat #111;
  background-size: cover;
  display: block;
  cursor: pointer;
  height: 280px;
  transition: all .3s;
  &:hover {
    opacity: .8;
  }
  @include breakpoint(l) {
    height: 320px;
  }
  &:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #111;
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -5px;
    border-radius: 100%;
  }
}

// Features
.icon {
  &:before {
    content: "";
    width: 50px;
    height: 50px;
    margin: 10px auto;
    display: block;
  }
}
.icon-foundation:before {
  background: url(../img/column.svg) 50% 50% no-repeat;
  background-size: cover;
}
.icon-browsers:before {
  background: url(../img/globe.svg) 50% 50% no-repeat;
  background-size: cover;
}
.icon-modular:before {
  background: url(../img/atom.svg) 50% 50% no-repeat;
  background-size: cover;
}
.icon-automated:before {
  background: url(../img/paper-plane.svg) 50% 50% no-repeat;
  background-size: cover;
}

// Showcase
.showcase-block { background-color: $lightest-grey; }
.showcase-panel {
  background-color: $white;
  margin-bottom: 20px;
  position: relative;
  @include breakpoint(m) {
    min-height: 300px;
  }
  @include breakpoint(l) {
    min-height: 360px;
  }
  @include breakpoint(xl) {
    min-height: 320px;
  }
  a {
    text-decoration: none;
    transition: all .4s;
    &:hover {
      transition: all .4s;
      color: $dark-grey;
    }
  }
}
.showcase-image {
  width: 100%;
  height: 140px;
  background-color: $black;
  display: block;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    @include background-alpha($white, 0%);
    transition: all .4s;
  }
  &:hover {
    &:before {
      transition: all .4s;
      @include background-alpha($white, 20%);
    }
  }
}
.showcase-gymphy {
  background: url(../img/gymphy.png) 0 0 no-repeat;
  background-size: cover
}
.showcase-nelus-oana {
  background: url(../img/nelus-oana.jpg) 0 0 no-repeat;
  background-size: cover
}
.showcase-construct {
  background: url(../img/construction.jpg) 0 0 no-repeat;
  background-size: cover
}
.showcase-tourly {
  background: url(../img/tourly.jpg) 0 0 no-repeat;
  background-size: cover
}
.showcase-event {
  background: url(../img/event.jpg) 0 0 no-repeat;
  background-size: cover
}
.showcase-business {
  background: url(../img/business.jpg) 0 0 no-repeat;
  background-size: cover
}
.showcase-restaurant {
  background: url(../img/restaurant.jpg) 0 0 no-repeat;
  background-size: cover
}

// Footer
.footer {
  background-color: $black;
  color: $white;
  a {
    color: $white;
  }
}
.footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
  & > li {
    display: inline-block;
  }
  & > li:not(:first-child) {
    margin-left: 6px;
  }
}

// Google Ads
.adsbygoogle {
  text-decoration: none;
  text-align: center;
  margin-bottom: 60px;
  &:before {
    display: block;
    content: 'Advertisement';
    margin-bottom: 10px;
    color: $light-grey;
  }
}

// Other
.row-bordered {
  border-bottom: 1px solid $lighter-grey;
}

.grid-example {
  .column-content {
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    display: block;
    background: $lighter-grey;
  }
}

.data-list {
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    border-bottom: 1px solid $lighter-grey;
    &:first-child {
      border-top: 1px solid $lighter-grey;
    }
  }
}
.animation-example {
  cursor: pointer;
  @extend .button;
  @extend .block;
  @extend .text-center;
}
.animation { @include animation(1s); }

.opl {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 1000;
}
.opl-feature {
  top: 0;
  left: 0;
}

// List Helpers
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

// Clear
.clear:before, .clear:after { content: " "; display: table; } .clear:after { clear: both; }

// Grid Helpers
@include breakpoint(m) {
  .col-6-m,
  .col-1-2-m {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 50%;
  }
  .col-8-m {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 66.66667%;
  }
  .col-10-m {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 83.33333%;
  }
}
@include breakpoint(l) {
  .col-1-3-l {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.333333%;
    float: left;
  }
  .col-1-4-l {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
    float: left;
  }
  .col-9-l {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 75%;
  }
  .col-10-l {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 83.33333%;
  }
}
@include breakpoint(xl) {
  .col-6-xl {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 50%;
  }
}