/*
	Base Stylesheet - Copyright 2011 - 2012
	Author - Matthew Hartman - http://www.matthewhartman.com.au
	Version - 1.1 - Last Updated: 28th March, 2012
*/

/* HTML5 Block Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .header, .footer, .menu, .nav, .section, .block {display: block;}

/* Consistent Font Family on Form Elements */
button, input, select, textarea {font-family: sans-serif;}

html {font-size: 100%;}
body {font: normal 81.3%/1.231 arial, helvetica, clean, sans-serif; background: #fff; color: #000; min-width: 320px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0;}

/* Headings */
h1, h2, h3, h4, h5, h6 {font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif; margin: 0;}
h1 {font-size: 2.769em; margin-bottom: 10px;}
h2 {font-size: 2em; margin-bottom: 8px;}
h3 {font-size: 1.692em; margin-bottom: 6px;}
h4 {font-size: 1.384em; margin-bottom: 4px;}

/* Content Elements */
p {margin: 1em 0;}

/* Content Links */
a {color: #c00;}
a:hover {text-decoration: none;}
a:visited {color: #000;}
a:active {margin-top: 3px;}

hr {border: 0; background: none; outline: 0;}

/* Tables */
table {}
thead {}
th {}

tbody {}
tr {}
td {}

/* Blockquotes */
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

/* Sections and Columns */
.section {overflow: hidden; position: relative;}
.container {min-width: 280px; max-width: 1140px; margin: 0 auto;}
.content-block {position: relative; display: table-cell; float: none;}
.col {margin-left: 1.04%; margin-right: 1.04%;}

.one {width: 6.25%;}
.two {width: 14.585%;}
.three {width: 22.918%;}
.four {width: 31.25%;}
.five {width: 39.585%;}
.six {width: 47.918%;}
.seven {width: 56.251%;}
.eight {width: 64.584%;}
.nine {width: 72.918%;}
.ten {width: 81.25%;}
.eleven {width: 89.584%;}
.twelve {width: 97.918%;}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 959px) {
html body {max-width: 959px; padding: 0; margin: 0;}
.notablet {display: none;}
}


/* Mobile Layout */
@media only screen and (min-width: 320px) and (max-width: 599px) {
html body {max-width: 100%; padding: 0; margin: 0;}
html .container {margin-left: 10px; margin-right: 10px;}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {width: 100%; margin-left: 0; margin-right: 0; float: none;}

.col.right {margin-left: 0;}

.nophone {display: none;}
}

/* Print Stylesheet */
@media print {
body {margin: 0.5cm;}
.body * {position: static; float: none;}
html .accessibility {display: none;}
}

/* General Classes */
.left, .col {float: left;}
.right {float: right;}
.offscreen {text-align: -9999em; position: absolute; overflow: hidden; width: 1px; height: 1%;}
.none {display: none; visibility: hidden;}
.padding-ten {padding: 10px;}
.padding-twenty {padding: 20px;}
.padding-thirty {padding: 30px;}

/* Nicolas Gallagher's Micro Clearfix */
.clear:before, .clear:after {content:""; display:table;}
.clear:after {clear:both;} .clear, .content-block {zoom:1;}

/* Begin Remove of Additional Styling (for Demo Purposes) */
html .col {background: #ccc; text-align: center;}
html .section {padding: 5px 0; background: #f1f1f1;}
html .section:first-child {padding: 5px 0; background: #fff;}
html .section:first-child .col {background: #fff; text-align: left;}
/* End Remove of Additionl Styling (for Demo Purposes) */