<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Business Template</title>

  <meta name="description" content="">
  <meta name="theme-color" content="#CCCCCC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="banner">
  <div class="header">
    <div class="header-inner container clear">
      <a class="logo" href="#"><span class="sr">Skokov</span></a>
      <input type="checkbox" id="navigation-toggle-checkbox" name="navigation-toggle-checkbox" class="navigation-toggle-checkbox none">
      <label for="navigation-toggle-checkbox" class="navigation-toggle-label" onclick>
        <span class="navigation-toggle-label-inner">
          <span class="sr">Navigation</span>
        </span>
      </label>
      <div class="navigation">
        <ul class="navigation-menu">
          <li class="navigation-item"><a href="#home">Home</a></li>
          <li class="navigation-item"><a href="#services">Services</a></li>
          <li class="navigation-item"><a href="#about">About Us</a></li>
          <li class="navigation-item"><a href="#news">News</a></li>
          <li class="navigation-item"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="banner-inner">
      <h1 class="banner-lead">
        <span class="banner-lead-1">Global management</span>
        <span class="banner-lead-2">consulting agency</span>
      </h1>
      <div class="banner-content col-8-m no-float-m">
        <p>
          Growth doesn't always go the way you expect. Our strategy consultants can help you climb.
        </p>
      </div>
      <div class="banner-buttons">
        <a href="#services" class="button button-primary">Get started</a>
        <a href="#about" class="button button-secondary">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div id="services" class="animate-block content-block services-block">
  <div class="services-block-inner container">
    <div class="content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">Our Services</h2>
      <div class="col-10-l no-float center">
        <p>
          Our management consulting services focus on our clients' most critical issues and opportunities. We have proven a multiplier effect from optimizing the sum of the parts, not just the individual pieces.
        </p>
      </div>
    </div>
    <ul class="services-list clear">
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-performance">Performance Increase</h3>
        <p>
          Enabling companies to grow revenue, improve margins and reposition quickly.
        </p>
      </li>
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-customer">Customer Marketing</h3>
        <p>
          In-depth customer insights combined with economic and operational fundamentals.
        </p>
      </li>
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-it">Innovative Technology</h3>
        <p>
          Realizing the full potential of IT resources, investments and assets.
        </p>
      </li>
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-transformation">Full Transformation</h3>
        <p>
          A cross-functional effort to alter the financial, operational and strategic trajectory of a business.
        </p>
      </li>
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-strategy">Strategy</h3>
        <p>
          Tailored solutions that deliver results and achieve sustained growth.
        </p>
      </li>
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-equity">Private Equity</h3>
        <p>
          Advising investors across the entire investment life cycle.
        </p>
      </li>
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-digital">Digital</h3>
        <p>
          Deliver on core strategy, delight customers and operate smarter and faster.
        </p>
      </li>
      <li class="service-item col-6 col-3-m">
        <h3 class="service-item-heading service-icon service-icon-delivery">Results Delivery</h3>
        <p>
          Predicting, measuring and managing risk associated with change management.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="animate-block feature-block contact-feature-block">
  <div class="feature-block-inner container">
    <div class="text-center">
      <h2 class="feature-block-heading">Contact us for a free, no obligation confidential exploration of your needs</h2>
      <a class="button button-primary" href="#contact">Contact Us</a>
    </div>
  </div>
</div>

<div id="about" class="content-block about-block">
  <div class="about-block-inner container">
    <div class="animate-block content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">About Us</h2>
      <div class="col-10-l no-float center">
        <p>
          SKOKOV is one of the world's leading management consulting firms. We care for our clients' business as our own, they know we're in this together.
        </p>
      </div>
    </div>
    <div class="animate-block about-content clear row-m">
      <div class="what-we-do-block col-6-m pad-top-20">
        <h3 class="heading fs-3">What We Do</h3>
        <p>
          When someone asks what we do SKOKOV, it's tempting to point out our four-decade track record for helping to transform the world's great companies into sharper, smarter, better versions of themselves. It's true, our mission is to help management teams create such high levels of economic value that together we redefine our respective industries.
        </p>
        <p>
          We work with top executives to help them make better decisions, convert those decisions to actions, and deliver the sustainable success they desire. For forty years, we've been passionate about achieving better results for our clients-results that go beyond financial and are uniquely tailored, pragmatic, holistic, and enduring.
        </p>
        <p>
          We advise global leaders on their most critical issues and opportunities: strategy, marketing, organization, operations, technology, transformations and mergers &amp; acquisitions, across all industries and geographies.
        </p>
        <p>
          Our unique approach to traditional change management, called Results Delivery&copy;, helps clients measure and manage risk and overcome the odds to realize results.
        </p>
      </div>
      <div class="our-clients-block col-6-m clear pad-top-20">
        <h3 class="heading fs-3">Our Clients</h3>
        <input type="radio" name="clients" id="client-tab-1" class="client-tab-radio client-tab-radio-1 none" checked>
        <label class="client-tab-label client-tab-label-1" for="client-tab-1" onclick><span class="none">Client Tab</span></label>
        <div class="client-tab client-tab-1">
          <ul class="clients-list clear">
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/oracle.png" alt="Oracle"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sony.png" alt="Sony"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sandisk.png" alt="SanDisk"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/mcafee.png" alt="McAfee"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/netflix.png" alt="Netflix"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sap.png" alt="SAP"></a>
            </li>
          </ul>
        </div>
        <input type="radio" name="clients" id="client-tab-2" class="client-tab-radio client-tab-radio-2 none">
        <label class="client-tab-label client-tab-label-2" for="client-tab-2" onclick><span class="none">Client Tab</span></label>
        <div class="client-tab client-tab-2">
          <ul class="clients-list clear">
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sony.png" alt="Sony"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/oracle.png" alt="Oracle"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sandisk.png" alt="SanDisk"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/mcafee.png" alt="McAfee"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sap.png" alt="SAP"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/netflix.png" alt="Netflix"></a>
            </li>
          </ul>
        </div>
        <input type="radio" name="clients" id="client-tab-3" class="client-tab-radio client-tab-radio-3 none">
        <label class="client-tab-label client-tab-label-3" for="client-tab-3" onclick><span class="none">Client Tab</span></label>
        <div class="client-tab client-tab-3">
          <ul class="clients-list clear">
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/netflix.png" alt="Netflix"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/oracle.png" alt="Oracle"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sony.png" alt="Sony"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/mcafee.png" alt="McAfee"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sandisk.png" alt="SanDisk"></a>
            </li>
            <li class="client-item col-6 col-4-l">
              <a href="#"><img class="block img-full" src="img/sap.png" alt="SAP"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="animate-block our-team-block pad-top-20">
      <h3 class="heading fs-3">Our Team</h3>
      <ul id="team" class="team-list clear">
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-1" href="#team-1-profile"><img class="block img-full" src="img/team-01.jpg" alt="Team Member 1">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-2" href="#team-2-profile"><img class="block img-full" src="img/team-02.jpg" alt="Team Member 2">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-3" href="#team-3-profile"><img class="block img-full" src="img/team-03.jpg" alt="Team Member 3">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-4" href="#team-4-profile"><img class="block img-full" src="img/team-04.jpg" alt="Team Member 4">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-5" href="#team-5-profile"><img class="block img-full" src="img/team-05.jpg" alt="Team Member 5">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-6" href="#team-6-profile"><img class="block img-full" src="img/team-06.jpg" alt="Team Member 6">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-7" href="#team-7-profile"><img class="block img-full" src="img/team-07.jpg" alt="Team Member 7">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-8" href="#team-8-profile"><img class="block img-full" src="img/team-08.jpg" alt="Team Member 8">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-9" href="#team-9-profile"><img class="block img-full" src="img/team-09.jpg" alt="Team Member 9">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-10" href="#team-10-profile"><img class="block img-full" src="img/team-10.jpg" alt="Team Member 10">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-11" href="#team-11-profile"><img class="block img-full" src="img/team-11.jpg" alt="Team Member 11">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-2-xl no-padding-xl">
          <a id="team-12" href="#team-12-profile"><img class="block img-full" src="img/team-12.jpg" alt="Team Member 12">
            <span class="team-item-content">
              <strong class="team-item-name">Clark Kent</strong>
              <strong class="team-item-title">Bad Debt Manager</strong>
              <span class="team-item-position">Team Leader</span>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="team-profiles-block">
      <div class="modal" id="team-1-profile">
        <a href="#team-1" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-01.jpg" alt="Team Member 1">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-2-profile">
        <a href="#team-2" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-02.jpg" alt="Team Member 2">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-3-profile">
        <a href="#team-3" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-03.jpg" alt="Team Member 3">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-4-profile">
        <a href="#team-4" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-04.jpg" alt="Team Member 4">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-5-profile">
        <a href="#team-5" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-05.jpg" alt="Team Member 5">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-6-profile">
        <a href="#team-6" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-06.jpg" alt="Team Member 6">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-7-profile">
        <a href="#team-7" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-07.jpg" alt="Team Member 7">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-8-profile">
        <a href="#team-8" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-08.jpg" alt="Team Member 8">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-9-profile">
        <a href="#team-9" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-09.jpg" alt="Team Member 9">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-10-profile">
        <a href="#team-10" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-10.jpg" alt="Team Member 10">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-11-profile">
        <a href="#team-11" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-11.jpg" alt="Team Member 11">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="team-12-profile">
        <a href="#team-12" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark Kent</h2>
          <strong class="block">Bad Debt Manager - Team Leader</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="img/team-12.jpg" alt="Team Member 12">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="video-feature-block" class="feature-block video-feature-block">
  <div class="video-feature-inner container">
    <div class="animate-block content-block-inner text-center">
      <a id="video" class="button button-play" href="#feature-video"><span class="sr">Play</span></a>
      <h2 class="feature-block-heading">We blend the strategic with creative</h2>
      <div class="col-10-l no-float center">
        <p>
          When someone asks what we do at SKOKOV, it's tempting to point out our four-decade track record for helping to transform the world's great companies into sharper, smarter, better versions of themselves.
        </p>
      </div>
    </div>
    <div class="modal" id="feature-video">
      <a href="#video" class="modal-close"><span class="sr">Close</span></a>
      <div class="modal-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="news" class="animate-block content-block news-block">
  <div class="news-block-inner container">
    <div class="content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">News</h2>
      <div class="col-10-l no-float center">
        <p>
          Together, we find value across boundaries, develop insights to act on, and energize teams to sustain success. We're passionate about always doing the right thing for our clients, our people and our communities, even if it isn't easy.
        </p>
      </div>
    </div>
    <div class="animate-block news-list clear">
      <div class="news-list-left col-8-l no-padding-l">
        <div class="news-item clear">
            <a href="#" class="news-item-image col-7-l no-padding-l">
              <img class="block img-fluid" src="img/news-item-01.jpg" alt="News Item 01">
            </a>
          <div class="news-item-content col-5-l no-padding-l">
            <div class="news-item-content-inner">
              <h3 class="news-item-title uppercase"><a href="#">Why Financial Institutions need a new IT model</a></h3>
              <p>
                Why old IT models are unlikely to deliver the competitive edge that banks, insurers and wealth management firms need from technology.
              </p>
              <em class="news-item-publish-date">
                Posted: 08.07.2015
              </em>
            </div>
          </div>
        </div>
        <div class="news-item news-item-secondary clear">
          <a href="#" class="news-item-image col-7-l no-padding-l">
            <img class="block img-fluid" src="img/news-item-02.jpg" alt="News Item 02">
          </a>
          <div class="news-item-content col-5-l no-padding-l">
            <div class="news-item-content-inner">
              <h3 class="news-item-title uppercase"><a href="#">Reimagining IT for an Omnichannel world</a></h3>
              <p>
                The technology that powers retail is evolving rapidly. Retailers and their IT groups will have to rise to stay ahead.
              </p>
              <em class="news-item-publish-date">
                Posted: 08.07.2015
              </em>
            </div>
          </div>
        </div>
      </div>
      <div class="news-list-right col-4-l no-padding-l">
        <div class="news-item news-item-third clear">
          <a href="#" class="news-item-image col-7-l no-padding-l">
            <img class="block img-fluid" src="img/news-item-03.jpg" alt="News Item 03">
          </a>
          <div class="news-item-content col-5-l no-padding-l">
            <div class="news-item-content-inner">
              <h3 class="news-item-title uppercase"><a href="#">Making the most of generation assets in turbulent times</a></h3>
              <p>
                A thorough review of a power generation portfolio informs decisions about how to reduce costs, raise revenues and make strategic plans.
              </p>
              <em class="news-item-publish-date">
                Posted: 08.07.2015
              </em>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="animate-block content-block contact-block">
  <div class="contact-block-inner container">
    <div class="clear">
      <div class="contact-block-content col-6-m">
        <h2 class="fs-2 heading">Skokov</h2>
        <p>
          Thank you for your interest in SKOKOV. Please contact us using the information below. To locate contacts in the SKOKOV office closest to you, visit our office websites. To get the latest updates from SKOKOV, subscribe to a newsletter or connect with us on social media.
        </p>
        <ul class="contact-list">
          <li><span class="icon contact-icon contact-icon-location">43 Georgiana Street, Idhanory, Ukraine</span></li>
          <li><span class="icon contact-icon contact-icon-phone">+61 (03) 9541 0891</span></li>
          <li><span class="icon contact-icon contact-icon-email"><a href="mailto:hello@skokovcompany.com?subject=General%20Enquiry&anp;body=">hello@skokovcompany.com</a></span></li>
        </ul>
      </div>
      <div class="contact-block-form col-6-m">
        <h2 class="fs-2 heading">Contact</h2>
        <p>
          Please contact us using contact form below.
        </p>
        <form class="contact-form">
          <fieldset class="contact-form-wrap">
            <legend class="sr">Contact Us</legend>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="name">Name</label>
              <input name="name" class="field" id="name" type="text" placeholder="Name">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="email">Email</label>
              <input name="email" class="field" id="email" type="email" placeholder="Email">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="subject">Date</label>
              <input name="subject" class="field" id="subject" type="text" placeholder="Subject">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label for="message" class="sr">Message</label>
              <textarea placeholder="Message" class="field" name="message" id="message" cols="30" rows="7"></textarea>
            </div>
            <div class="text-right">
              <input type="submit" class="button button-primary contact-submit" value="Send">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-inner container">
    <div class="clear">
      <div class="footer-column col-8-m">
        <p>
          &copy; Copyright 2015 &mdash; All Rights Reserved
        </p>
      </div>
      <div class="footer-column col-4-m">
        <ul class="footer-social-list icon-list-inline">
          <li class="navigation-item-social"><a class="social-icon social-linkedin" href="#"><span class="sr">LinkedIn</span></a></li>
          <li class="navigation-item-social"><a class="social-icon social-facebook" href="#"><span class="sr">Facebook</span></a></li>
          <li class="navigation-item-social"><a class="social-icon social-twitter" href="#"><span class="sr">Twitter</span></a></li>
          <li class="navigation-item-social"><a class="social-icon social-youtube" href="#"><span class="sr">YouTube</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="js/vendor/wow.js"></script>
<script src="js/default.js"></script>

</body>
</html>