// ==========================================================================
// Base – Variables
// ==========================================================================

// Responsive Breakpoints
$breakpoint-m:                                  740px !default;
$breakpoint-l:                                  960px !default;
$breakpoint-xl:                                 1120px !default;