.header {
  background-color: #e15a25;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
h1, h2, h3, h4, .logo {
  font-family: "Raleway", arial, sans-serif;
}
.logo {
  margin: 14px 0 0 0;
  color: #fff;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}
.logo:hover,
.logo:active {
  color: #fff;
}
.navigation {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #222;
  top: 0;
}
.navigation ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.navigation ul li {
  float: left;
  margin-left: 20px;
}
.navigation ul li:first-child {
  margin-left: 0;
}
.navigation ul li a {
  text-decoration: none;
  color: #fff;
}
.navigation ul li a.current,
.navigation ul li a:hover {
  color: #fff9c3;
}
.navigation ul li a:active {
  color: #fff;
}
.content-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row .col {
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #ccc;
  color: #111;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.intro {
  font-family: "Raleway", arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: normal;
  color: #777;
}

@media only screen and (min-width: 762px) and (max-width: 939px) {
  .navigation ul li {
    margin-left: 5px;
  }
  .navigation ul li a {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 761px) {
  .header {
    text-align: center;
  }
  .header .container {
    padding: 0;
  }
  .nav-toggle {
    display: block;
    background-color: #222;
    text-align: center;
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
  .nav-toggle:hover,
  .nav-toggle.active {
    background-color: #444;
    color: #fff;
  }
  .navigation {
    float: none;
  }
  .navigation ul {
    float: none;
    margin: 0;
    padding: 0;
  }
  .navigation ul li {
    float: none;
    margin-left: 0;
    text-align: center;
  }
  .navigation ul li a {
    color: #fff;
    padding: 10px;
    display: block;
    font-size: 1em;
    text-transform: none;
    background-color: #222;
  }
  .navigation ul li a:hover {
    background-color: #444;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .showmobile.inline-block {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
}
