.header {
  background-color: #d6511d;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  margin: 14px 0 0 0;
  color: #fff;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.logo .small {
  font-size: 11px;
  position: relative;
  top: -20px;
}
.logo:hover,
.logo:active,
.logo:visited {
  color: #fff;
}
.navigation {
  line-height: normal;
  padding-top: 12px;
}
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  float: left;
  margin-left: 10px;
}
.navigation ul li:first-child {
  margin-left: 0;
}
.navigation ul li a {
  text-transform: uppercase;
  color: #fff;
  padding: 8px 24px;
  border: 1px solid #d6511d;
  text-decoration: none;
  font-size: 12px;
}
.navigation ul li a.current {
  border-color: #fff;
}
.navigation ul li a:hover {
  border-color: #fff0ea;
}
.navigation ul li a:active {
  background-color: #ffc9b3;
  border-color: #ffc9b3;
  color: #222;
}
.content-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row .col {
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #ccc;
  color: #111;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media only screen and (min-width: 762px) and (max-width: 939px) {
  .navigation ul li {
    margin-left: 5px;
  }
  .navigation ul li a {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 761px) {
  .header {
    padding-bottom: 0;
    text-align: center;
  }
  .header .container {
    padding: 0;
  }
  .logo {
    float: none;
    margin: 0 auto;
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  .logo .small {
    font-size: 1em;
    position: static;
  }
  .nav-toggle {
    display: block;
    background-color: #fddfd3;
    text-align: center;
    color: #222;
    padding: 10px;
    text-decoration: none;
  }
  .nav-toggle:hover,
  .nav-toggle.active {
    background-color: #fff0ea;
  }
  .navigation {
    float: none;
  }
  .navigation ul li {
    float: none;
    margin-left: 0;
  }
  .navigation ul li a {
    color: #222;
    padding: 10px;
    display: block;
    font-size: 1em;
    text-transform: none;
    background-color: #fddfd3;
    border: 0;
  }
  .navigation ul li a:hover {
    background-color: #fff0ea;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .showmobile.inline-block {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
}
