/* ==========================================================================

  Base Stylesheet - http://matthewhartman.github.com/base/
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.2 - Last Updated: 16th January, 2013

========================================================================== */
/* ==========================================================================
/* --  Micro Clearfix, Resets and Common Classes
   ========================================================================== */
/* Micro Clearfix */
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
.section:before,
.section:after {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}
.section {
  zoom: 1;
}
.checkbox:before,
.checkbox:after {
  content: "";
  display: table;
}
.checkbox:after {
  clear: both;
}
.checkbox {
  zoom: 1;
}
/* General Resets */
/* Start font size at 100% */
html {
  font-size: 100%;
}
/* Make all form fonts consistent */
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/* Remove default borders */
form,
fieldset,
a img {
  border: 0;
}
/* Remove default spacing */
form,
fieldset {
  margin: 0;
  padding: 0;
}
/* Common Classes */
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.inline {
  display: inline;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}
.strong {
  font-weight: bold;
}
.alert {
  background-color: #ffffcc;
  display: block;
  padding: 4px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nolist {
  list-style: none;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.none,
.nodesktop {
  display: none;
}
/* ==========================================================================
/* 1.0 - Document Setup (body, links, headings, code, tables, forms etc)
   ========================================================================== */
/* Body */
body {
  font-family: arial, helvetica, clean, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem;
  background-color: #ffffff;
  color: #222222;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Links */
a {
  color: #ff3300;
  text-decoration: underline;
}
a:visited {
  color: #ff3300;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: #333333;
}
/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
}
h1,
.h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
h2,
.h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 8px;
}
h3,
.h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: 6px;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 4px;
}
/* 1.2 Paragraphs, block quotes, code, pre, etc
   ========================================================================== */
small {
  font-size: 12px;
  font-size: 0.75rem;
}
/* Block Quotes, Pre and Code Blocks */
blockquote,
q {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  padding: 20px 30px;
  margin: 20px 0;
  font-family: "Georgia", "Times";
  font-style: italic;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  font-size: 80px;
  font-size: 5rem;
  color: #999999;
}
blockquote:before,
q:before {
  content: "\201C";
  margin-left: -0.5em;
  float: left;
}
blockquote:after,
q:after {
  content: "\201D";
  margin-right: -0.5em;
  float: right;
}
code {
  padding: 2px 6px;
  font-family: Monaco, Andale Mono, "Courier New", monospace;
  font-size: 12px;
  font-size: 0.75rem;
  background-color: #fee9cc;
  border: 1px solid #ffc9b3;
  line-height: normal;
  color: #222222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  height: 1px;
  background-color: #dddddd;
  margin: 2em 0;
}
/* 1.3 Tables
   ========================================================================== */
table {
  width: 100%;
  border-collapse: collapse;
  border-left: 0;
  background-color: #fff;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}
table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #ffffff;
  color: #222222;
}
table tfoot td {
  font-weight: bold;
}
table caption {
  padding: .5em;
  font-style: italic;
  background-color: #eeeeee;
  border-bottom: 0;
  font-weight: bold;
}
/* 1.4 Lists
   ========================================================================== */
ul,
ul ul {
  list-style: disc;
  margin: 4px 0 4px 25px;
  padding: 0;
}
ol,
ol ol {
  list-style: decimal;
  margin: 4px 0 4px 25px;
  padding: 0;
}
/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
fieldset {
  margin: 1.5em 0;
}
legend {
  font-family: arial, helvetica, clean, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  width: 100%;
  display: block;
  border: 0;
  *margin-left: -5px;
}
label {
  font-weight: bold;
  cursor: pointer;
}
.inline-field label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-right: 1em;
}
.field {
  padding: 0.2em 0;
}
.field label {
  display: block;
}
.checkbox {
  display: block;
  position: relative;
  line-height: normal;
  padding: 0.2em 0;
}
.checkbox label {
  display: table-cell;
  *zoom: 1;
}
.checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left;
  top: -2px;
  position: relative;
  margin-right: 1em;
}
/* Inputs (Text, Search, Email, etc) */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=file] {
  outline: 0;
  padding: 2px 5px;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: bold;
  background-color: #ffffff;
  color: #666666;
  border: 1px solid #dddddd;
  border-top: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type=file] {
  border: 0;
  height: 20px;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type=submit],
input[type=button],
input[type=reset] {
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: none;
  /* Remove Default Browser Behaviour for Safari */

  -moz-appearance: none;
  /* Remove Default Browser Behaviour for Firefox */

}
textarea {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: bold;
  background-color: #ffffff;
  color: #666666;
  outline: 0;
  padding: 2px 5px;
  vertical-align: top;
  border: 1px solid #dddddd;
  padding: 10px;
  resize: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
select {
  font-size: 14px;
  font-size: 0.875rem;
  outline: 0;
  border: 0;
  padding: 7px;
  height: 30px;
  line-height: normal;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  *border: 10px solid #ffffff;
  outline: 1px solid #999999;
}
select[multiple] {
  min-height: 100px;
  vertical-align: top;
  border: 1px solid #dddddd;
}
select,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel] {
  width: 280px;
}
textarea {
  width: 260px;
}
/* Buttons */
.buttons {
  padding: 1em 0;
}
.button {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: normal;
  cursor: pointer;
  border: 0;
  padding: 0.8em 3em;
  color: #222222;
  text-decoration: none;
  text-align: center;
}
.orange-button {
  background-color: #fee9cc;
}
.orange-button:hover {
  background-color: #ffe0b5;
  -webkit-tap-highlight-color: #fdeed8;
}
.orange-button:active {
  background-color: #fdeed8;
}
.button[disabled],
.button.disabled {
  color: #999999;
  background-color: #f1f1f1;
}
.no-style-button {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #ff3300;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
}
.no-style-button:hover {
  text-decoration: none;
}
.no-style-button[disabled],
.no-style-button.disabled {
  text-decoration: none;
  color: #999999;
}
/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
.section {
  position: relative;
}
.row {
  margin-bottom: 1em;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container-full {
  max-width: 960px;
  margin: 0 auto;
}
/* Fluid Grid */
.col {
  margin-left: 2%;
  *margin-left: 1.7%; /* ie7 */
  float: left;
}
.col:first-child {
  margin-left: 0;
}
/* Columns */
.one {
  width: 6.5%;
}
.two {
  width: 15%;
}
.three {
  width: 23.5%;
}
.four {
  width: 32%;
}
.five {
  width: 40.5%;
}
.six {
  width: 49.0%;
}
.seven {
  width: 57.5%;
}
.eight {
  width: 66%;
}
.nine {
  width: 74.5%;
}
.ten {
  width: 83%;
}
.eleven {
  width: 91.5%;
}
.twelve {
  width: 100%;
}
.quarter {
  width: 23.5%;
}
.half {
  width: 49.0%;
}
.one-third {
  width: 32%;
}
/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 762px) and (max-width: 939px) {
  .container {
    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* Tablet Grid
    * For stacking full width columns, please use the new class .tablet-full
    * New tablet columns have been added
  */
  .tablet-one {
    width: 6.5%;
  }
  .tablet-two {
    width: 15%;
  }
  .tablet-three {
    width: 23.5%;
  }
  .tablet-four {
    width: 32%;
  }
  .tablet-five {
    width: 40.5%;
  }
  .tablet-six {
    width: 49.0%;
  }
  .tablet-seven {
    width: 57.5%;
  }
  .tablet-eight {
    width: 66%;
  }
  .tablet-nine {
    width: 74.5%;
  }
  .tablet-ten {
    width: 83%;
  }
  .tablet-eleven {
    width: 91.5%;
  }
  .tablet-twelve {
    width: 100%;
  }
  .tablet-full {
    clear: both;
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }
  .tablet-full:first-child {
    margin-top: 0;
  }
  .notablet {
    display: none;
  }
  .showtablet {
    display: block;
  }
}
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 761px) {
  /* Mobile Grid
    * For stacking full width columns, please use the new class .mobile-full
    * New mobile columns have been added
  */
  .mobile-one {
    width: 6.5%;
  }
  .mobile-two {
    width: 15%;
  }
  .mobile-three {
    width: 23.5%;
  }
  .mobile-four {
    width: 32%;
  }
  .mobile-five {
    width: 40.5%;
  }
  .mobile-six {
    width: 49.0%;
  }
  .mobile-seven {
    width: 57.5%;
  }
  .mobile-eight {
    width: 66%;
  }
  .mobile-nine {
    width: 74.5%;
  }
  .mobile-ten {
    width: 83%;
  }
  .mobile-eleven {
    width: 91.5%;
  }
  .mobile-twelve {
    width: 100%;
  }
  .mobile-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 1em 0 0 0;
  }
  .mobile-full:first-child {
    margin-top: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Mobile Tables */
  table th,
  table td {
    padding: 4px;
  }
  /* Mobile Forms */
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=search],
  input[type=tel],
  textarea {
    width: 90%;
    padding: 5%;
  }
  select {
    width: 100%;
  }
  .nomobile {
    display: none;
  }
  .showmobile {
    display: block;
  }
}
/* End Mobile Media Query */