<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Construct Template</title>

  <meta name="description" content="">
  <meta name="theme-color" content="#ffc13b">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="banner">
  <div class="banner-inner">
    <div class="header">
      <div class="container">
        <div class="clear-m">
          <a class="logo left-m" href="/"><span class="sr">Construct</span></a>
          <div class="navigation right-m">
            <ul class="menu">
              <li class="menu-item">
                <a href="#about">About</a>
              </li>
              <li class="menu-item">
                <a href="#services">Services</a>
              </li>
              <li class="menu-item">
                <a href="#work">Work</a>
              </li>
              <li class="menu-item">
                <a href="#clients">Clients</a>
              </li>
              <li class="menu-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container pad-top-30 pad-top-60-m">
      <div class="pad-top-50-m pad-bottom-50-m">
        <h1 class="yellow">
          <span class="banner-heading-text-1">Superior </span>
          <span class="banner-heading-text-2">Building </span>
          <span class="banner-heading-text-3">Quality</span>
        </h1>
        <p class="fs-4 no-margin pad-top-10 pad-bottom-40 col-10-m no-float-m center-m col-7-l no-float-l center-l banner-text-1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </p>
        <div>
          <span class="banner-button-1 block inline-block-m pad-5-m">
            <a class="button button-primary" href="#about">Find out more</a>
          </span>
          <span class="banner-button-2 block inline-block-m pad-top-5 pad-5-m">
            <a class="button button-secondary" href="#contact">Get a Quote</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-block" id="about">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">About Construct</span>
        <span class="big-heading">Our Humble Beginnings</span>
      </h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
      <p>
        Exercitation ullamco nisi ut aliquip ex ea commodo consequat duis aute irure
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        ullamco nisi ut aliquip ex ea commodo consequat duis aute irure reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</div>

<div class="services-block" id="services">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">
          Services Overview
        </span>
        <span class="big-heading">
          What We Can Do
        </span>
      </h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
      <ul class="service-list pad-top-20 row-m">
        <li class="col-1-2-m service-item handyman">
          <h3 class="service-item-heading">Handyman Jobs</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            labore et dolore.
          </p>
        </li>
        <li class="col-1-2-m service-item building">
          <h3 class="service-item-heading">Building Work</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo.
          </p>
        </li>
        <li class="col-1-2-m service-item home-maintenance">
          <h3 class="service-item-heading">Home Maintenance</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo.
          </p>
        </li>
        <li class="col-1-2-m service-item custom-jobs">
          <h3 class="service-item-heading">Custom Jobs</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            labore et dolore.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="work-block" id="work">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">
          Our Craftsmanship
        </span>
        <span class="big-heading">
          Projects Overview
        </span>
      </h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>
    <ul class="work-list pad-top-20 row-m">
      <li class="col-4-m work-list-item">
        <a href="#" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Building</span>
            <span class="work-heading-big">Custom Home</span>
          </span>
          <img src="img/work-1.jpg" alt="Work Item 1">
        </a>
      </li>
      <li class="col-4-m work-list-item">
        <a href="#" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Construction</span>
            <span class="work-heading-big">New Office</span>
          </span>
          <img src="img/work-2.jpg" alt="Work Item 2">
        </a>
      </li>
      <li class="col-4-m work-list-item">
        <a href="#" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Other</span>
            <span class="work-heading-big">Custom Projects</span>
          </span>
          <img src="img/work-3.jpg" alt="Work Item 3">
        </a>
      </li>
    </ul>
    <div class="pad-top-30-m pad-bottom-20 text-center">
      <a class="button button-outline" href="https://www.instagram.com/matthewhartmans/" target="_blank">View all work</a>
    </div>
  </div>
</div>

<div class="testimonial-block" id="clients">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading small-heading-secondary">
          Our Happy Customers
        </span>
        <span class="big-heading big-heading-secondary">
          Clients &amp; Testimonials
        </span>
      </h2>
      <div class="testimonial-list clear-m">
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-1" checked>
        <label class="testimonial-tab testimonial-tab-1" for="testimonial-1">
          <span class="sr">Testimonial 1</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat in reprehenderit in voluptate velit.
          </p>
          <cite class="clear">
            <div class="testimonial-avatar">
              <img src="img/george-jones.jpg" alt="George Jones">
            </div>
            <div class="testimonial-author">
              <span class="testimonial-name block">George Jones</span>
              <span class="testimonial-status block">Home Owner</span>
            </div>
          </cite>
        </blockquote>
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-2">
        <label class="testimonial-tab testimonial-tab-2" for="testimonial-2">
          <span class="sr">Testimonial 2</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            Ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <cite class="clear">
            <div class="testimonial-avatar">
              <img src="img/peter-andre.jpg" alt="Peter Andre">
            </div>
            <div class="testimonial-author">
              <span class="testimonial-name block">Peter Andre</span>
              <span class="testimonial-status block">Happy Customer</span>
            </div>
          </cite>
        </blockquote>
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-3">
        <label class="testimonial-tab testimonial-tab-3" for="testimonial-3">
          <span class="sr">Testimonial 3</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat in reprehenderit in voluptate velit lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam,
          </p>
          <cite class="clear">
            <div class="testimonial-avatar">
              <img src="img/emma-hamilton.jpg" alt="Emma Hamilton">
            </div>
            <div class="testimonial-author">
              <span class="testimonial-name block">Emma Hamilton</span>
              <span class="testimonial-status block">New Home Owner</span>
            </div>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="contact-block pad-top-40 pad-bottom-40 pad-top-60-m pad-bottom-60-m" id="contact">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading small-heading-secondary">
          Organise a consultation
        </span>
        <span class="big-heading big-heading-secondary">
          Contact Construction
        </span>
      </h2>
      <div class="row-l contact-row">
        <div class="contact-column">
          <ul class="contact-list pad-bottom-15">
            <li class="contact-icon contact-icon-location">101 Collins Street, Melbourne, 3000</li>
            <li class="contact-icon contact-icon-phone">+613 9999 8988</li>
            <li class="contact-icon contact-icon-email"><a href="mailto:hello@example.com?subject=General%20Enquiry">hello@example.com</a></li>
          </ul>
          <div class="map" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.9527683511647!2d144.96827211491595!3d-37.814575279752205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642c821f25843%3A0x3d6fbb723540dff8!2s101+Collins+St%2C+Melbourne+VIC+3000!5e0!3m2!1sen!2sau!4v1492987689563" width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="contact-column pad-top-30 pad-top-0-l">
          <h3 class="fs-4 strong">Online Enquiry</h3>
          <p class="contact-copy">
            For all email enquiries, please use the contact form below.
          </p>
          <form class="contact-form" action="" method="">
            <fieldset>
              <div class="pad-top-10 pad-bottom-10">
                <label class="block" for="name">Full Name</label>
                <input class="block col-12 no-float" type="text" name="name" id="name">
              </div>
              <div class="pad-top-10 pad-bottom-10">
                <label class="block" for="email">Email Address</label>
                <input class="block col-12 no-float" type="email" name="email" id="email">
              </div>
              <div class="pad-top-10 pad-bottom-10">
                <label class="block" for="phone">Contact Phone</label>
                <input class="block col-12 no-float" type="tel" name="phone" id="phone">
              </div>
              <div class="pad-top-10 pad-bottom-10">
                <label class="block" for="message">Enquiry</label>
                <textarea class="block col-12 no-float" name="message" id="message" cols="30" rows="6"></textarea>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="white pad-top-40 pad-bottom-40 pad-top-60-m">
    <div class="clear-m">
      <div class="container">
        <div class="row-l">
          <div class="col-4-l">
            <div class="col-10 no-float no-padding">
              <h3 class="footer-heading">About Construction</h3>
              <p class="footer-copy">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elasopa exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="col-4-l pad-top-20 pad-bottom-20 pad-top-0-l pad-bottom-0-l">
            <div class="col-10-l no-float">
              <h3 class="footer-heading">Connect with us</h3>
              <ul class="contact-list footer-contact-list">
                <li class="contact-icon contact-icon-location">101 Collins Street, Melbourne, 3000</li>
                <li class="contact-icon contact-icon-phone">+613 9999 8988</li>
                <li class="contact-icon contact-icon-email"><a href="mailto:hello@example.com?subject=General%20Enquiry">hello@example.com</a></li>
              </ul>
              <ul class="social-list">
                <li class="social-list-item">
                  <a class="social-item social-facebook" title="Facebook" href="#">
                    <span class="sr">Facebook</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-twitter" title="Twitter" href="#">
                    <span class="sr">Twitter</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-instagram" title="Instagram" href="#">
                    <span class="sr">Instagram</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-pinterest" title="Pinterest" href="#">
                    <span class="sr">Pinterest</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-youtube" title="Youtube" href="#">
                    <span class="sr">YouTube</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-linkedin" title="Linkedin" href="#">
                    <span class="sr">LinkedIn</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-4-l">
            <div class="col-10-l no-float">
              <h3 class="footer-heading">Our Latest Work</h3>
              <ul class="gallery clear">
                <li class="gallery-list-item">
                  <a class="gallery-item" href="#">
                    <img src="img/work-1-thumb.jpg" alt="Work Item 1">
                  </a>
                </li>
                <li class="gallery-list-item">
                  <a class="gallery-item" href="#">
                    <img src="img/work-2-thumb.jpg" alt="Work Item 2">
                  </a>
                </li>
                <li class="gallery-list-item">
                  <a class="gallery-item" href="#">
                    <img src="img/work-3-thumb.jpg" alt="Work Item 3">
                  </a>
                </li>
                <li class="gallery-list-item">
                  <a class="gallery-item" href="#">
                    <img src="img/work-4-thumb.jpg" alt="Work Item 4">
                  </a>
                </li>
                <li class="gallery-list-item">
                  <a class="gallery-item" href="#">
                    <img src="img/work-5-thumb.jpg" alt="Work Item 5">
                  </a>
                </li>
                <li class="gallery-list-item">
                  <a class="gallery-item" href="#">
                    <img src="img/work-6-thumb.jpg" alt="Work Item 6">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-inner">
    <div class="container">
      <div class="clear-m">
        <div class="left-m">
          <p>Copyright 2017. All Rights Reserved.</p>
        </div>
        <div class="right-m">
          <ul class="footer-inline-list">
            <li class="footer-inline-list-item">
              <a href="#about">About</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#services">Services</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#work">Work</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#testimonials">Testimonials</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/vendor/webfontloader.js"></script>
<script src="js/default.js"></script>

</body>
</html>